$body-font: $rubik;


img{
    max-width: 100%;
}

body{
    line-height: 2.5rem;
    font-weight: 300;
    font-family: $body-font;
}

h1, h1{
    line-height: 5.925rem;
}

h2, .h2{
    line-height: 4.266rem;
}

