

.contact-form-section{
    padding: 11.4rem 0 10.9rem;
    
    .contact-form-section-title{
        margin-bottom: 3.7rem;
    }
    
    .form-group{
        margin-bottom: 2.2rem;
        .form-control{
            line-height: 5rem;
            background-color: #F6F6F6;
        }
    }
}

.contact-map{
    iframe{
        width: 100%;
        height: 400px;
    }
}

