
.team-section{
    padding: 8.1rem 0 6.8rem;
    //background-color: #F6F5F6;

    .team-section-title{
        margin-bottom: 6.1rem;
    }

    .team-member{
        .team-member-title{
            margin-bottom: 2.1rem;
        }
        .team-member-description{
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .team-member-linkedin{
            color: #444;
            font-size: 3rem;
            margin-bottom: 2rem;
            @media(min-width: 576px){
                margin-bottom: 0;
            }
            &:hover{
                color: $primary;
            }
        }

        .team-member-image{
            overflow: hidden;
            display: block;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            img{
                display: block;
                width: 100%;
                transition: 0.3s linear;
            }
        }
    }

    .owl-dot{
        margin-top: 9.2rem;
        display: flex;
    }
}

