
.service-section{
    padding: 11rem 0 11.3rem;
    
    .service-section-title{
        margin-bottom: 6.1rem;
    }
}

.service-item{
    margin-bottom: 2rem;
    .service-item-title{
        color: #000;
        text-transform: uppercase;
        
        &:hover{
            color: $blue;
        }
    }
}
