.single-service-section{
    padding: 10.6rem 0 10.8rem;
    
    .single-service-image{
        position: sticky;
        -webkit-position: sticky;
        top: 0;
        img{
            width: 100%;
            display: block;
        }
    }
    .single-service-data{
        h2{
            margin-bottom: 2.6rem;
        }
        
        ul{
            list-style: none;
            padding-left: 0;
        }
    }
}

