
.single-team-member{
    padding: 9.2rem 12.9rem;
    
    .team-member-name{
        margin-bottom: 8px;
    }
    .team-member-position{
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: 1.14%;
        margin-bottom: 1rem;
    }
    .team-member-linkedin{
        color: #444;
        font-size: 3rem;
        margin-bottom: 3rem;
        text-decoration: none;
        @media(min-width: 992px){
            margin-bottom: 5.2rem;
        }
        &:hover{
            color: $primary;
        }
    }
    .team-member-image{
        position: sticky;
        -webkit-position: sticky;
        top: 0;
        img{
            display: block;
            width: 100%;
        }
    }
    .team-member-bio{
        
    }
}
