.herro-section{
    padding: 90px 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
    .herro-content{
        background-color: rgba(#fff, 0.6);
        .herro-description{
            margin-bottom: 5.9rem;
        }
    }
}
